{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block page %}
<div class="col-xs-12 col-sm-4 col-md-3 col-centered">
  <div style="margin-top:20%">
    <h1 class="text-center">Login</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        {% if form.errors %}
          <p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form action="{% url 'user:login' %}?{{ request.GET.urlencode }}" method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username|add_class:"form-control"|attr:"focus" }}
          </div>
          <div class="form-group">
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}">Password</label>
            {{ form.password|add_class:"form-control" }}
          </div>
          <button type="submit" class="btn btn-primary btn-block btn-lg">Log in</button>
        </form>
      </div>
    </div>
    <p class="text-center">Don't have an account? <a href="{% url 'user:register' %}?{{ request.GET.urlencode }}">Register</a></p>
    <p class="text-center"><a href="{% url 'user:reset-password-form' %}?{{ request.GET.urlencode }}">Forgot Password?</a></p>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  document.getElementsByName('email')[0].focus();
</script>
{% endblock %}

{% block analytics %}
<script>
ga('send', 'pageview');
</script>
{% endblock %}
