{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Register{% endblock %}

{% block page %}
<div class="col-xs-12 col-sm-4 col-md-3 col-centered">
  <div style="margin-top:20%">
    <h1 class="text-center">Register</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="{% url 'user:register' %}?{{ request.GET.urlencode }}" method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="form-group">
            {{ form.firstname.errors }}
            {{ form.firstname.label }}
            {{ form.firstname|add_class:"form-control" }}
          </div>
          <div class="form-group">
            {{ form.lastname.errors }}
            {{ form.lastname.label }}
            {{ form.lastname|add_class:"form-control" }}
          </div>
          <div class="form-group">
            {{ form.email.errors }}
            {{ form.email.label }}
            {{ form.email|add_class:"form-control" }}
          </div>
          <div class="form-group">
            {{ form.password.errors }}
            {{ form.password.label }}
            {{ form.password|add_class:"form-control" }}
          </div>
          <div class="form-group">
            {{ form.dob.errors }}
            {{ form.dob.label }}
            {% render_field form.dob class="form-control" type="date" %}
          </div>
          <button type="submit" class="btn btn-primary btn-block btn-lg">Register</button>
        </form>
      </div>
    </div>
    <p class="text-center">Already have an account? <a href="{% url 'user:login' %}?{{ request.GET.urlencode }}">Login</a></p>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  document.getElementsByName('firstname')[0].focus();
</script>
{% endblock %}

{% block analytics %}
<script>
ga('send', 'pageview');
</script>
{% endblock %}
