<a ui-sref="tabs-open.find" class="list-group-item clearfix" ng-click="setType('friends')">
  <h4 class="pull-left">Friends</h4>
  <span class="glyphicon glyphicon-menu-right pull-right" style="margin-top:10.5px"></span>
</a>
<a ui-sref="tabs-open.amount" class="list-group-item clearfix" ng-click="setType('me')">
  <h4 class="pull-left">Yourself</h4>
  <span class="glyphicon glyphicon-menu-right pull-right" style="margin-top:10.5px"></span>
</a>
<!-- <a href class="list-group-item clearfix" ng-click="setState(1)">
  Group
  <span class="glyphicon glyphicon-menu-right pull-right"></span>
</a> -->
