<h1>Open a Tab</h1>

<div class="row" buy-drinks>
  <div class="col-xs-12 col-sm-6 col-md-4 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><a href ng-click="setState(state - 1)" ng-if="state" ng-cloak><span class="glyphicon glyphicon-menu-left"></span></a>&nbsp;Buy A Drink For:</h4>
      </div>
      <div class="list-group" ng-switch="state">
        <div ng-switch-when="0">
          <a href class="list-group-item clearfix" ng-click="setType('friends')">
            Friends
            <span class="glyphicon glyphicon-menu-right pull-right"></span>
          </a>
          <a href class="list-group-item clearfix" ng-click="setType('me')">
            Yourself
            <span class="glyphicon glyphicon-menu-right pull-right"></span>
          </a>
          <!-- <a href class="list-group-item clearfix" ng-click="setState(1)">
            Group
            <span class="glyphicon glyphicon-menu-right pull-right"></span>
          </a> -->
        </div>
        <form name="form" ng-switch-when="1" ng-cloak>
          <div class="list-group-item">
            <div class="form-group" ng-repeat="e in order.emails">
              <input type="email" class="form-control input-lg" placeholder="Enter email" ng-model="e" required>
            </div>
          </div>
          <div class="list-group-item clearfix">
            <button type="button" class="btn btn-default btn-lg" ng-if="order.type != 'me'" ng-click="addAnotherEmail()"><span class="glyphicon glyphicon-plus"></span></button>
            <button type="submit" class="btn btn-primary btn-lg pull-right" ng-click="setState(2)"><span class="glyphicon glyphicon-menu-right pull-right"></span></button>
          </div>
        </form>
        <form name="form" ng-switch-when="2" ng-cloak>
          <div class="list-group-item">
            <div class="form-group">
              <label>Bar:</label>
              <input type="text" class="form-control input-lg" placeholder="Name" ng-model="order.bar" required>
            </div>
            <div class="form-group">
              <label>Bartender:</label>
              <input type="text" class="form-control input-lg" placeholder="Name" ng-model="order.bartender" required>
            </div>
          </div>
          <div class="list-group-item">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th colspan="2">Menu</th>
                </tr>
                <tr>
                  <th>Drink</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="drink in order.drinks">
                  <td><input type="text" class="form-control input-lg" ng-model="drink.name"></td>
                  <td>{[{ drink.cost | currency }]}</td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control input-lg" ng-model=""></td>
                  <td></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="text-right">Total</td>
                  <td>{[{ 5 | currency }]}</td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="list-group-item clearfix">
            <button type="submit" class="btn btn-primary btn-lg pull-right" ng-click="setState(3)"><span class="glyphicon glyphicon-menu-right pull-right"></span></button>
          </div>
        </form>
        <form name="form" ng-switch-when="3" ng-cloak>
          <div class="list-group-item">
            <dl class="dl-horizontal">
              <dt>For:</dt>
              <dd><span ng-repeat="email in order.emails">{[{ email }]}&nbsp;</span></dd>
            </dl>
          </div>
          <div class="list-group-item">
            <dl class="dl-horizontal">
              <dt>Bar:</dt>
              <dd>{[{ order.bar }]}</dd>
            </dl>
          </div>
          <div class="list-group-item">
            <dl class="dl-horizontal">
              <dt>Bartender:</dt>
              <dd>{[{ order.bartender }]}</dd>
            </dl>
          </div>
          <div class="list-group-item">
            <dl class="dl-horizontal">
              <dt>Drinks:</dt>
              <dd><span ng-repeat="drink in order.drinks">{[{ drink.name }]}&nbsp;</span></dd>
            </dl>
          </div>
          <div class="list-group-item">
            <dl class="dl-horizontal">
              <dt>Cost:</dt>
              <dd>{[{ 5 | currency }]}</dd>
            </dl>
          </div>
          <div class="list-group-item clearfix">
            <button type="submit" class="btn btn-primary btn-lg pull-right">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>