<div class="panel panel-default">
	<div class="panel-body">
		<p class="text-center">You have</p>
		<h1 class="text-center">{[{ tab | currency }]}</h1>
	</div>
</div>
<div class="input-group" bar-search dropdown>
	<input type="text" class="form-control input-lg" placeholder="Search for bar.." ng-model="term" ng-model-options="{ debounce: 500 }" ng-change="searchForBar(term)" dropdown-toggle>
	<ul class="dropdown-menu" style="width:100%" ng-show="barslist">
    <li ng-repeat="bar in barslist"><a href ng-click="selectBar(bar)">{[{ bar.name }]}</a></li>
  </ul>
	<span class="input-group-btn">
		<button type="button" class="btn btn-success btn-lg" ng-click="useTab(tab)" ng-disabled="!bar">Use</button>
	</span>
</div><br>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Recent Donations</h4>
	</div>
	<div class="list-group">
	  <a href ng-click="showTabModal(tab)" class="list-group-item clearfix" ng-repeat="tab in tabs">
      <div class="row">
        <div class="col-xs-6">
          <h4 class="list-group-heading">{[{ tab.amount | currency }]}</h4>
          <p class="list-group-item-text">{[{ tab.sender_first_name }]}</p>
        </div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-success pull-right" ng-if="!tab.accepted">Accept</button>
        </div>
      </div>
	  </a>
	</div>
</div>
<script type="text/ng-template" id="tab-detail.html">
  <div class="modal-body text-center">
    <h4>{[{ tab.sender_first_name }]} {[{ tab.sender_last_name }]} gave you</h4>
    <h1>{[{ tab.amount | currency }]}</h1>
    <div ng-if="tab.note">
    	<p>and said..</p>
    	<p><em>{[{ tab.note }]}</em></p>
  	</div>
  	<div ng-if="!tab.accepted">
	  	<p>Accept tab?</p>
	  	<div class="btn-group" role="group" aria-label="...">
			  <button type="button" class="btn btn-danger" ng-click="confirmTab(tab, false)">No Thanks</button>
			  <button type="button" class="btn btn-success" ng-click="confirmTab(tab, true)">Accept</button>
			</div>
		</div>
  </div>
  <div class="modal-footer">
  	<button type="submit" class="btn btn-link btn-lg btn-block center" ng-click="$dismiss()">Decide Later</button>
  </div>
</script>