<div class="panel panel-default">
	<div class="panel-body">
		<p class="text-center">You have</p>
		<h1 class="text-center">{[{ tab | currency }]}</h1>
	</div>
</div>
<button type="button" class="btn btn-success btn-lg center" buy-drinks ng-click="payForDrink()">Pay for Drink</button>
<br>
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Recent Donations</h4>
	</div>
	<div class="list-group">
	  <a href ng-click="showTabModal(tab)" class="list-group-item media clearfix" ng-repeat="tab in tabs">
      <div class="media-left">
        <img class="media-object" ng-src="{[{ tab.sender_avatar }]}" height="48px" alt="">
      </div>
      <div class="media-body">
        <h4 class="media-heading">{[{ tab.amount | currency }]}</h4>
        {[{ tab.sender_first_name }]}
      </div>
			<div class="media-right" ng-if="!tab.accepted">
				<img class="media-object" ng-src="static/images/high_priority.png" height="48px">
				<!-- Tap to Accept -->
			</div>
	  </a>
	</div>
</div>
<script type="text/ng-template" id="tab-detail.html">
  <div class="modal-body text-center">
		<img ng-src="{[{ tab.sender_avatar }]}" height="48px" style="center">
    <h4>{[{ tab.sender_first_name }]} {[{ tab.sender_last_name }]} gave you</h4>
    <h1>{[{ tab.amount | currency }]}</h1>
    <div ng-if="tab.note">
    	<p>and said..</p>
    	<p><em>{[{ tab.note }]}</em></p>
  	</div>
  	<div ng-if="!tab.accepted">
	  	<p>Accept tab?</p>
	  	<div class="btn-group" role="group" aria-label="...">
			  <button type="button" class="btn btn-danger" ng-click="confirmTab(tab, false, $close)">No Thanks</button>
			  <button type="button" class="btn btn-success" ng-click="confirmTab(tab, true, $close)">Accept</button>
			</div>
			<div class="text-center">
				<loader></loader>
			</div>
		</div>
  </div>
  <div class="modal-footer">
  	<button type="submit" class="btn btn-link btn-lg btn-block center" ng-click="$dismiss()">{[{ (tab.accepted) ? 'Ok' : 'Decide Later' }]}</button>
  </div>
</script>
<script type="text/ng-template" id="pay-for-drink-where.html">
  <form name="form" ng-submit="submitBar(form, $close)">
    <div class="modal-header">
        <h2 class="modal-title text-center">Select a bar</h2>
    </div>
    <div class="modal-body">
      <div class="form-group" bar-search dropdown>
        <input type="text" class="form-control input-lg" placeholder="Search for bar.." ng-model="payment.bar.name" ng-model-options="{ debounce: 500 }" ng-change="searchForBar(payment.bar.name)" dropdown-toggle required>
        <div class="dropdown-menu list-group" style="width:100%" ng-show="barslist">
          <a ng-repeat="bar in barslist" class="list-group-item" href ng-click="selectBar(bar)">
            <h5 class="list-group-item-heading">{[{ bar.name }]}</h5>
            <p class="list-group-item-text"><small>{[{ bar.location }]}</small></p>
          </a>
        </div>
      </div>
    </div>
    <div class="modal-footer clearfix">
			<button class="btn btn-link btn-lg" type="button" ng-click="$dismiss()">Cancel</button>
      <button class="btn btn-success btn-lg" type="submit" ng-disabled="!payment.bar">Process</button>
    </div>
  </form>
</script>
