html, body, .page {
	height: 100%;
}

.header h1, .header h2, .header h3, .header h4 {
	color: #fff;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.content {
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
	position: relative;
}

.content .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
}

.how-it-works, .action-statement {
	padding-bottom: 40px;
}

.how-it-works>section img {
	height: 200px;
}

.action-statement {
	background-color: #3d4254;
	padding-top: 20px;
}

.action-statement h2 {
	color: #fff;
}

.page .content {
	min-height: 600px;
	background-image: url('/static/images/Happy-group-of-friends-go-clubbing-1400x933.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.background {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.page .footer {
	min-height: 70px;
	padding-top: 40px;
}

.footer a,
.footer a:hover {
	color: #5a6b7c;
}

.navbar-transparent .navbar-brand {
	color: #fff;
}

.navbar-transparent .navbar-nav>li>a {
	color: #fff;
}

.navbar-transparent .navbar-nav>li>a:focus, .navbar-transparent .navbar-nav>li>a:hover {
	color: #999;
	background-color: transparent;
}

.navbar-transparent .navbar-toggle .icon-bar {
	background-color: #fff;
}

@media (min-height: 700px) {
	.page .content {
		min-height: 100%;
	}

	.tagline {
		margin-top:30%
	}
}
