body {
  font: 18px/1.533 "Lato", Arial, Helvetica, sans-serif;
  background: #f3f3f3;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

textarea {
	resize: vertical;
}

.navbar-default, .btn-primary {
  background-color: #3d4254;
}

.btn-block-responsive {
	width: 100%;
}

.form-control {
  border-width: 1px;
}

.input-group-addon {
  background-color: transparent;
}

body,
a.list-group-item,
button.list-group-item,
.panel-default>.panel-heading,
.thumbnail .caption,
.form-control {
  color: #5a6b7c;
}

a.list-group-item:hover, button.list-group-item:hover, a.list-group-item:focus, button.list-group-item:focus {
  background-color: #f9f9f9;
  color: #5a6b7c;
}

.panel-heading, .modal-header {
  text-align: center;
}

.panel-default>.panel-heading {
  background-color: #fff;
}

.page .view {
  margin-bottom: 80px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.center {
  margin: 0 auto;
  display: block;
}

.btn, .modal-content, .panel {
  border-radius: 4px;
}

.row-centered {
  position: absolute;
  top: 0;
  bottom: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.page-header,
.page-header h1 {
	margin-top: 0;
}

.navbar-btn:hover {
  margin-top: 6px;
}

.navbar {
	border-radius: 0;
}

.navbar .input-group-addon {
  background-color: transparent;
  color: #fff;
  border: none;
}

.navbar .form-control {
  background-color: transparent;
  border: none;
}

.dropdown-menu.select {
	width: 100%;
}

.center {
  margin: 0 auto;
  display: block;
}

.pointer {
  cursor: pointer;
}

.dropdown-menu>li>p {
  color: #7b8a8b;
  padding: 3px 20px;
}

.list-group-item.media {
  margin-top: 0;
}

.thumbnail>img {
  width: auto;
  height: 100px;
}

.thumbnail.active {
  border: 1px solid #999;
}

.row.bars-list .thumbnail {
  min-height: 200px;
}

.app .navbar-header {
  display: none;
}

.app .navbar-search {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .icon-toolbar {
    display: none;
  }

  .app .navbar-header {
    display: block;
  }

  .app .navbar-search {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
  }

	.btn-block-responsive {
		width: auto;
	}
}

.icon-toolbar .navbar-nav {
  display: table;
  width: 100%;
}

.icon-toolbar .navbar-nav>li {
  display: table-cell;
  width: 25%;
  text-align: center;
}

.icon-toolbar .navbar-nav>li>a {
  padding-left: 0;
  padding-right: 0;
}

.approval {
  position: relative;
}

.modal-approval {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  z-index: 2;
  text-align: center;
}

.full-height {
  height: 100%;
}

.bars-list {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
}

.left-pane {
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
}

.right-pane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  overflow-y: auto;
}

.loading {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0;
}
.loading.reversed li {
  border: 3px solid white;
  -webkit-animation: LOADINGREV 2s infinite;
          animation: LOADINGREV 2s infinite;
}
.loading.reversed li:nth-child(1n) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loading.reversed li:nth-child(2n) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading.reversed li:nth-child(3n) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loading li {
  height: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  margin: 0;
  height: 10px;
  width: 10px;
  border: 3px solid #2b8ccd;
  border-radius: 100%;
  -webkit-transform: transformZ(0);
      -ms-transform: transformZ(0);
          transform: transformZ(0);
  -webkit-animation: LOADING 2s infinite;
          animation: LOADING 2s infinite;
}
.loading li:nth-child(1n) {
  left: -20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loading li:nth-child(2n) {
  left: 0;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading li:nth-child(3n) {
  left: 20px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.grid-row:after {
  content: '';
  display: table;
  clear: both;
}
.grid-row .col {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
}
.grid-row .col + .col {
  background: #2b8ccd;
  left: auto;
  right: 0;
}

@-webkit-keyframes LOADING {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: #2b8ccd;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: white;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: #2b8ccd;
  }
}

@keyframes LOADING {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: #2b8ccd;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: white;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: #2b8ccd;
  }
}
@-webkit-keyframes LOADINGREV {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: white;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: #2b8ccd;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: white;
  }
}
@keyframes LOADINGREV {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: white;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: #2b8ccd;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    background: white;
  }
}
