body {
  background: #f2f2f2;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

textarea {
	resize: vertical;
}

.page .view {
  margin-bottom: 80px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.center {
  margin: 0 auto;
  display: block;
}

.btn, .modal-content, .panel {
  border-radius: 4px;
}

.row-centered {
  position: absolute;
  top: 0;
  bottom: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.page-header,
.page-header h1 {
	margin-top: 0;
}

.navbar-btn:hover {
  margin-top: 6px;
}

.navbar {
	border-radius: 0;
}

.dropdown-menu.select {
	width: 100%;
}

.center {
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.dropdown-menu>li>p {
  color: #7b8a8b;
  padding: 3px 20px;
}

.list-group-item.media {
  margin-top: 0;
}

.thumbnail>img {
  width: auto;
  height: 100px;
}

.icon-toolbar .navbar-nav {
  display: table;
  width: 100%;
  margin: 0;
}

.icon-toolbar .navbar-nav>li {
  display: table-cell;
  width: 25%;
  text-align: center;
}

.icon-toolbar .navbar-nav>li>a {
  padding-left: 0;
  padding-right: 0;
}
