<div class="col-xs-12 col-sm-6 col-md-4 col-centered">
  <div class="panel panel-default">
    <div class="panel-body">
      <form enctype="multipart/form-data" ng-submit="create(newbar)">
        <div class="form-group">
        	<label>Bar Name</label>
        	<input type="text" class="form-control input-lg" name="name" ng-model="newbar.name" focus>
        </div>
        <fieldset>
          <legend>Address</legend>
          <div class="form-group">
          	<label>Street</label>
          	<input type="text" class="form-control input-lg" name="street" ng-model="newbar.street">
          </div>
          <div class="form-group">
          	<label>City</label>
            <input type="text" class="form-control input-lg" name="city" ng-model="newbar.city">
          </div>
          <div class="form-group">
          	<label>State</label>
            <input type="text" class="form-control input-lg" name="province" ng-model="newbar.province">
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
      </form>
    </div>
  </div>
  <p class="text-center"><a ui-sref="bars-mine">Cancel</a></p>
</div>