<div class="panel panel-default">
  <div class="panel-body">
    <div class="text-center" ng-switch="bar.merchant">
      <div ng-switch-when="true">
        <img src="/static/images/approval.png" height="100px" style="margin:0 auto">
        <h3>Success!</h3>
        <h4>Your account is connected. To view, please click the button below</h4><br>
        <a href="https://dashboard.stripe.com/dashboard" class="btn btn-info btn-lg">Navigate to Stripe</a>
      </div>
      <div ng-switch-when="false">
        <img src="/static/images/atm.png" height="100px" style="margin:0 auto">
        <h4>All payments will be made to this account. Click the button below to begin.</h4><br>
        <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_6m86ozehkURqszIoojH2o0jY7gT3A2Er&scope=read_write" class="btn btn-info btn-lg">Connect Your Financial Account</a>
      </div>
    </div>
  </div>
</div>
