<div class="panel panel-default" address-autocomplete model="bar">
  <div class="panel-body">
    <form name="form">
      <div class="form-group" avatar="bar.avatarFile">
        <label>Avatar</label>
        <img ng-src="{[{ avatarSRC }]}" class="pointer" height="200px" onclick="document.getElementById('uploadImage').click()" style="display:block;margin:0 auto">
        <input type="file" id="uploadImage" name="avatar" accept="image/*" style="display:none" file-model="bar.avatarFile">
        <p class="text-center text-muted"><small>Tap to edit</small></p>
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control input-lg input-hide" name="name" ng-model="bar.name" ng-blur="save(form)" ng-change="changed()" required>
      </div>
      <div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control input-lg input-hide" name="address" ng-model="bar.address" id="autocomplete" required>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-default" ng-if="isRole('owner')">
  <div class="panel-heading">
    <h4>Delete</h4>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <button type="button" class="btn btn-danger btn-lg" ng-click="confirmDelete()">Delete</button>
    </div>
  </div>
</div>
<script type="text/ng-template" id="confirm-delete.html">
  <form name="form" ng-submit="$close(confirm.username)">
    <div class="modal-header">
        <h3 class="modal-title">Confirm Delete</h3>
    </div>
    <div class="modal-body">
          <div class="form-group">
            <label>Verify that you want to delete this bar by entering your <strong>username</strong></label>
            <input type="text" class="form-control input-lg" ng-model="confirm.username" name="username" required focus>
          </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-link btn-lg" type="button" ng-click="$dismiss('cancel')">Cancel</button>
        <button class="btn btn-danger btn-lg" type="submit">Delete</button>
    </div>
  </form>
</script>
