<div class="page-header">
	<h1><a ui-sref="bar-detail({id: bar.id})" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>&nbsp;{[{ bar.name }]}&nbsp;<em><small>Settings</small></em></h1>
</div>
<div class="row">
	<div class="col-xs-12 col-md-3">
		<div class="list-group">
			<a ui-sref="bar-settings.general({id: bar.id})" class="list-group-item" ng-class="{'active':isState('bar-settings.general')}">General</a>
			<a ui-sref="bar-settings.bartenders({id: bar.id})" class="list-group-item" ng-class="{'active':isState('bar-settings.bartenders')}">Bartenders</a>
			<a ui-sref="bar-settings.financial({id: bar.id})" class="list-group-item" ng-class="{'active':isState('bar-settings.financial')}">Financial</a>
			<a ui-sref="bar-settings.sales({id: bar.id})" class="list-group-item" ng-class="{'active':isState('bar-settings.sales')}">Sales</a>
		</div>
	</div>
	<div class="col-xs-12 col-md-8">
		<div ui-view></div>
	</div>
</div>
