<div class="page-header">
		<h1>{[{ bar.name }]}</h1>
		<h2><em><small>{[{ bar.street }]}, {[{ bar.city }]}, {[{ bar.province }]}</small></em></h2>
</div>
<ul class="list-inline list-unstyled" buy-drinks>
	<li><button type="button" class="btn btn-success btn-lg" ng-click="payForDrinkHere(bar)">Pay Here</button></li>
	<li><button type="button" class="btn btn-danger btn-lg" ng-click="checkin()">Check-in</button></li>
	<li ng-if="bar.owner==user.id"><a ui-sref="bar-settings.general({id: bar.id})" class="btn btn-default btn-lg"><i class="fa fa-cog"></i></a></li>
</ul>
<div class="row">
	<div class="col-xs-12">
		<div id="map" style="width:100%;height:300px"></div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Recent Checkins</h3>
			</div>
			<div class="list-group">
				<a ui-sref="user({id: checkin.user})" class="list-group-item media" ng-repeat="checkin in checkins">
					<div class="media-left">
						<img class="media-object" ng-src="{[{ checkin.avatar }]}" height="48px">
					</div>
					<div class="media-body">
						<h4 class="media-heading">{[{ checkin.firstname || 'Joe Blow' }]}</h4>
						{[{ checkin.when }]}
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Bartenders</h3>
			</div>
			<div class="list-group">
				<a ui-sref="user({id: bartender.id})" class="list-group-item media" ng-repeat="bartender in bartenders">
					<div class="media-left">
						<img class="media-object" ng-src="{[{ bartender.avatar }]}" height="48px">
					</div>
					<div class="media-body">
						<h4 class="media-heading">{[{ bartender.firstname || 'Joe Blow' }]}</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
