<div class="page-header clearfix">
	<h1 class="pull-left">{[{ bar.name }]}&nbsp;<em><small>{[{ bar.street }]}, {[{ bar.city }]}, {[{ bar.province }]}</small></em></h1>
	<ul class="list-inline list-unstyled pull-right">
		<li><button type="button" class="btn btn-danger btn-lg" ng-click="checkin()">Check-in</button></li>
		<li ng-if="bar.owner==user.id"><a ui-sref="bar-settings.general({id: bar.id})" class="btn btn-default btn-lg"><i class="fa fa-cog"></i></a></li>
	</ul>
</div>
<div id="map" style="width:100%;height:300px"></div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="list-group">
			<div class="list-group-item">
				<h2 class="list-group-item-heading">Recent Checkins</h2>
			</div>
			<a ui-sref="user({id: checkin.user})" class="list-group-item" ng-repeat="checkin in checkins">
				<h4 class="list-group-item-heading">{[{ checkin.firstname || 'Joe Blow' }]}</h4>
				<p class="list-group-item-text">{[{ formatDate(checkin.when) }]}</p>
			</a>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6">
		<div class="list-group">
			<div class="list-group-item">
				<h2 class="list-group-item-heading">Bartenders</h2>
			</div>
			<div class="list-group-item" ng-repeat="bartender in bartenders">
				<h4 class="list-group-item-heading">{[{ bartender.firstname || 'Joe Blow' }]}</h4>
				<p class="list-group-item-text">{[{ bartender.email }]}</p>
			</div>
		</div>
	</div>
</div>