<div class="bars-list full-height">
  <div class="full-height left-pane">
    <div class="map" id="map" ng-init="initMap()" style="height:100%"></div>
  </div>
  <div class="full-height right-pane">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="bar in bars">
          <a ui-sref="bar-detail({id:bar.id})" class="thumbnail">
          	<img ng-src="{[{ bar.avatar }]}" height="200px" style="display:block;margin: 0 auto">
            <div class="caption">
              <h4>{[{ bar.name }]}</h4>
              <p class="text-muted"><small>{[{ address(bar) }]}</small></p>
            </div>
        	</a>
        </div>
      </div>
    </div>
  </div>
</div>
