{% extends "page.html" %}

{% block content %}
<div class="page-heading">
	<h1>About My Drink Nation</h1>
</div>
<h3>
<p>My Drink Nation unites drinkers across the globe to create a one stop shop where users can discover, share drinks and buy a round for friends. We also help you find the best bars and bartenders in the area.</p>
<p><strong>Our goal is to build a community that provides a unique experience and make it easy for you to buy a drink for yourself and a friend.</strong></p>
<p>Looking forward to serving you.</p>
</h3>
{% endblock %}