{% extends "base.html" %}
{% load staticfiles %}

{% block app %}App{% endblock %}

{% block base %}
<base href="/">
{% endblock %}

{% block page %}
<div class="app">
  <nav class="navbar navbar-default" ng-init="navbarCollapsed=true">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="tab">MyDrinkNation</a>
      </div>

      <form name="form" ng-submit="search(form, s.q)" class="navbar-form navbar-search navbar-left" role="search">
        <div class="form-group">
          <div class="input-group">
            <input type="text" ng-model="s.q" class="form-control" id="search" placeholder="Search" required>
            <span class="input-group-addon pointer" ng-cloak ng-show="s.searching" ng-click="s.searching=false">Cancel</span>
            <span class="input-group-addon pointer" ng-show="!s.searching" onclick="document.getElementById('search').focus()"><span class="glyphicon glyphicon-search"></span></span>
          </div>
        </div>
      </form>

      <div class="collapse navbar-collapse" collapse="navbarCollapsed" ng-click="navbarCollapsed = !navbarCollapsed">
        <ul class="nav navbar-nav navbar-left">
          <li><a ui-sref="bars">Bars</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="tabs-open.for">Open a Tab</a></li>
          <li class="dropdown" dropdown>
            <a href="#" dropdown-toggle ng-click="$event.stopPropagation()" style="padding:5px"><img ng-src="{[{user.avatar}]}" height="50px" alt="{[{ user.first_name }]}"> <span class="caret"></span></a>
            <ul class="dropdown-menu" dropdown-menu>
              <li><p>{{ user.email }}</p></li>
              <li class="divider"></li>
              <li><a ng-if="user.bar_owner" ui-sref="bars-mine">My bars</a></li>
              <li><a ui-sref="profile">Profile</a></li>
              <li><a href="{% url 'user:logout' %}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container view">
    <div ng-cloak ng-if="s.searching">
      <div class="list-group">
        <a ui-sref="user({id: result.id})" ng-click="cancelSearch()" class="list-group-item" ng-repeat="result in s.r">
          <div class="media">
            <div class="col-xs-3 col-sm-2 col-md-1">
              <img ng-src="{[{ result.avatar }]}" height="45px" class="media-object">
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11">
              <h4 class="media-heading">{[{ result.first_name + ' ' + result.last_name }]}</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div ui-view ng-if="!s.searching"></div>
  </div>
  <footer>
    <!-- <p class="text-center">Drink Responsibly</p> -->
  </footer>
  <nav class="navbar navbar-default navbar-fixed-bottom icon-toolbar">
    <ul class="nav navbar-nav">
      <li><a ui-sref="tab">Tab</a></li>
      <li><a ui-sref="bars">Bars</a></li>
      <li><a ui-sref="tabs-open.for">Open Tab</a></li>
      <li><a ui-sref="profile">Profile</a></li>
    </ul>
  </nav>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/" async></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyJXdPAlRBVqqTqgrWodd11IqCg_-J68w&libraries=places,geometry"></script>
<script type="text/javascript" src="{% static "js/api.js" %}"></script>
<script type="text/javascript" src="{% static "js/app.js" %}"></script>
<script type="text/javascript" src="{% static "js/controllers.js" %}"></script>
<script type="text/javascript" src="{% static "js/directives.js" %}"></script>
<script type="text/javascript" src="{% static "js/services.js" %}"></script>
<script type="text/javascript" src="{% static "js/factories.js" %}"></script>
<script type="text/javascript">var pk = '{{ stripe_pk }}';</script>
<script type="text/ng-template" id="pay-for-drink-bartender.html">
  <form name="form" ng-submit="processPayment(form, $close)" class="approval">
    <div class="modal-header">
        <h2 class="modal-title text-center">{[{ payment.bar.name }]}</h2>
				<p class="text-center text-danger"><b>Bartender Use Only</b></p>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Drink Cost</label>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input type="number" min="3" step=".01" class="form-control input-lg" ng-model="payment.cost" placeholder="Drink cost" focus required>
				</div>
      </div>
    </div>
    <div class="modal-footer clearfix">
      <loader class="pull-left"></loader>
			<button class="btn btn-link btn-lg" type="button" ng-click="$dismiss()">Cancel</button>
      <button class="btn btn-success btn-lg" type="submit">Process</button>
    </div>
    <div class="modal-approval bg-success" ng-if="processed">
      <img ng-src="static/images/approval.png" height="100px">
      <h2 class="text-white">Success!</h2>
      <h4 class="text-white">Payment has been processed.</h4>
      <button type="button" class="btn btn-primary btn-lg text-white" ng-click="showTipModal($close)" style="margin:0 auto">Next</button>
    </div>
  </form>
</script>
<script type="text/ng-template" id="pay-for-drink-tip.html">
  <form name="form" ng-submit="submitTip(form, $close)">
    <div class="modal-header">
        <h2 class="modal-title text-center">Add a tip?</h2>
				<p class="text-center text-danger"><b>{[{ payment.bar.name }]}</b></p>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>{[{ payment.cost | currency }]} x {[{ payment.tipPercent }]}% = {[{ payment.cost * (payment.tipPercent / 100) | currency}]}</label>
				<div class="input-group">
					<input type="number" min="1" step="1" class="form-control input-lg" ng-model="payment.tipPercent" ng-init="payment.tipPercent=20" value="20" placeholder="Tip Amount" focus required>
					<span class="input-group-addon">%</span>
				</div>
      </div>
    </div>
    <div class="modal-footer clearfix">
			<button class="btn btn-link btn-lg text-danger" type="button" ng-click="skipTip($dismiss)">No Thanks</button>
      <button class="btn btn-success btn-lg" type="submit">Yes!</button>
    </div>
  </form>
</script>
<script type="text/ng-template" id="pay-for-drink-summary.html">
  <form name="form" ng-submit="submitPayment(form, $close)">
    <div class="modal-header">
        <h2 class="modal-title text-center">Summary of Payments</h2>
				<p class="text-center text-danger"><b>{[{ payment.bar.name }]}</b></p>
    </div>
    <div class="list-group">
      <a ui-sref="user({id: transaction.sender})" class="list-group-item container-fluid" ng-repeat="transaction in payment.transactions">
        <div class="col-xs-6">
          <h4 class="list-group-item-heading">{[{ transaction.sender_first_name + ' ' + transaction.sender_last_name }]}</h4>
        </div>
        <div class="col-xs-6 text-right">
          <h4 class="list-group-item-heading">{[{ transaction.amount | currency }]}</h4>
        </div>
      </a>
    </div>
    <div class="modal-body">
      <p class="text-right">Total: {[{ payment.amount | currency }]}</p>
    </div>
    <div class="modal-footer clearfix">
      <button class="btn btn-success btn-lg" type="submit">Ok</button>
    </div>
  </form>
</script>
<script type="text/ng-template" id="no-drink-sources.html">
  <form name="form">
    <div class="modal-header">
      <h2>Add a credit card to continue!</h2>
    </div>
    <div class="modal-footer clearfix">
			<button class="btn btn-link btn-lg" type="button" ng-click="$dismiss()">Cancel</button>
      <a ui-sref="profile" class="btn btn-success btn-lg">Add</a>
    </div>
  </form>
</script>
{% endblock %}
