{% extends "base.html" %}
{% load staticfiles %}

{% block app %}App{% endblock %}

{% block base %}
<base href="/">
{% endblock %}

{% block page %}
<nav class="navbar navbar-default" ng-init="navbarCollapsed=true">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="tab">MyDrinkNation</a>
    </div>

    <div class="collapse navbar-collapse" collapse="navbarCollapsed" ng-click="navbarCollapsed = !navbarCollapsed">
      <ul class="nav navbar-nav navbar-left">
        <li><a ui-sref="bars">Bars</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="tabs-open.for">Open a Tab</a></li>
        <li class="dropdown" dropdown>
          <a href="#" dropdown-toggle ng-click="$event.stopPropagation()" style="padding:5px"><img ng-src="{[{user.avatar}]}" height="50px" alt="{[{ user.first_name }]}"> <span class="caret"></span></a>
          <ul class="dropdown-menu" dropdown-menu>
            <li><p>{{ user.email }}</p></li>
            <li class="divider"></li>
            <li><a ng-if="user.bar_owner" ui-sref="bars-mine">My bars</a></li>
            <li><a ui-sref="profile">Profile</a></li>
            <li><a href="{% url 'user:logout' %}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container view">
  <div ui-view></div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom icon-toolbar">
  <ul class="nav navbar-nav">
    <li><a ui-sref="bars">Bars</a></li>
    <li><a href>Link</a></li>
    <li><a ui-sref="tabs-open.for">Open Tab</a></li>
    <li><a ui-sref="profile">Profile</a></li>
  </ul>
</nav>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/" async></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyJXdPAlRBVqqTqgrWodd11IqCg_-J68w&libraries=places"></script>
<script type="text/javascript" src="{% static "js/api.js" %}"></script>
<script type="text/javascript" src="{% static "js/app.js" %}"></script>
<script type="text/javascript" src="{% static "js/controllers.js" %}"></script>
<script type="text/javascript" src="{% static "js/directives.js" %}"></script>
<script type="text/javascript" src="{% static "js/services.js" %}"></script>
<script type="text/javascript">var pk = '{{ stripe_pk }}';</script>
<script type="text/ng-template" id="pay-for-drink-bartender.html">
  <form name="form" ng-submit="processPayment(form, $close)">
    <div class="modal-header">
        <h2 class="modal-title text-center">{[{ payment.bar.name }]}</h2>
				<p class="text-center text-danger"><b>Bartender Use Only</b></p>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Drink Cost</label>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input type="number" min="10" step=".01" class="form-control input-lg" ng-model="payment.cost" placeholder="Drink cost" focus required>
				</div>
      </div>
    </div>
    <div class="modal-footer clearfix">
      <loader class="pull-left"></loader>
			<button class="btn btn-link btn-lg" type="button" ng-click="$dismiss()">Cancel</button>
      <button class="btn btn-success btn-lg" type="submit">Process</button>
    </div>
  </form>
</script>
<script type="text/ng-template" id="pay-for-drink-tip.html">
  <form name="form" ng-submit="">
    <div class="modal-header">
        <h2 class="modal-title text-center">Add a tip?</h2>
				<p class="text-center text-danger"><b>{[{ payment.bar.name }]}</b></p>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>{[{ payment.cost * (payment.tipPercent / 100) | currency}]}</label>
				<div class="input-group">
					<input type="number" min="1" step="1" class="form-control input-lg" ng-model="payment.tipPercent" placeholder="Tip Amount" focus required>
					<span class="input-group-addon">%</span>
				</div>
      </div>
    </div>
    <div class="modal-footer clearfix">
			<button class="btn btn-link btn-lg text-danger" type="button" ng-click="$dismiss()">No Thanks</button>
      <button class="btn btn-success btn-lg" type="submit">Yes!</button>
    </div>
  </form>
</script>
{% endblock %}
