{% extends "base.html" %}
{% load staticfiles %}

{% block app %}App{% endblock %}

{% block base %}
<base href="/">
{% endblock %}

{% block page %}
<div class="app">
  <nav class="navbar navbar-default" ng-init="navbarCollapsed=true">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="tab">App</a>
      </div>

      <div class="collapse navbar-collapse" collapse="navbarCollapsed" ng-click="navbarCollapsed = !navbarCollapsed">
        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="tabs-open.for">Open a Tab</a></li>
          <li class="dropdown" dropdown>
            <a href="#" dropdown-toggle ng-click="$event.stopPropagation()" style="padding:5px"><img ng-src="{[{user.avatar}]}" height="50px" alt="{[{ user.first_name }]}"> <span class="caret"></span></a>
            <ul class="dropdown-menu" dropdown-menu>
              <li><p>{{ user.email }}</p></li>
              <li class="divider"></li>
              <li><a ui-sref="profile">Profile</a></li>
              <li><a href="{% url 'user:logout' %}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script type="text/javascript" src="{% static "js/api.js" %}"></script>
<script type="text/javascript" src="{% static "js/app.js" %}"></script>
<script type="text/javascript" src="{% static "js/controllers.js" %}"></script>
<script type="text/javascript" src="{% static "js/directives.js" %}"></script>
<script type="text/javascript" src="{% static "js/services.js" %}"></script>
<script type="text/javascript" src="{% static "js/factories.js" %}"></script>
<script type="text/javascript" src="{% static "js/modal_controllers.js" %}"></script>
{% endblock %}
