{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="{% block app %}Init{% endblock %}">
  <head>
    <title>{% block title %}{% endblock %} - Core</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/throbber.css" type="text/css">
    <link rel="stylesheet" href="{% static "libs/angular-toastr/dist/angular-toastr.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block base %}{% endblock %}
  </head>
  <body>
    <div class="page">
      {% block page %}{% endblock %}
    </div>
  </body>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
  <script type="text/javascript">
  if ('addEventListener' in document) {
      document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body);
      }, false);
  }
  </script>
  <script type="text/javascript" src="static/libs/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="{% static "js/init.js" %}"></script>
  {% block scripts %}{% endblock %}
</html>
