{% extends "base.html" %}

{% block page %}
<!DOCTYPE html>

{% load static %}
{% load staticfiles %}

<html>

<head>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title> myDrinkNation &reg - Coming Soon </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'static_dirs/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'static_dirs/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'static_dirs/css/soon.css' %}" rel="stylesheet">
    <link href="{% static 'static_dirs/css/social_share.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'static_dirs/css/modal_login.css' %}" rel="stylesheet">
    {% comment %}  <link href="{% static 'assets/css/thank_you.css' %}" rel="stylesheet">{% endcomment %}


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="{% static 'static_dirs/js/respond.min.js'%}"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <style>
        #header .container {
            color: #FFF;
            text-align: center;
            position: relative;
            z-index: 2;
            padding: 80px 0;
        }

    </style>
</head>
<!-- START BODY -->


<body class="nomobile">
<!-- START HEADER -->

<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header ">
                    <!-- HEADLINE -->
                    <h3 data-animated="GoIn"><b><font color=aqua>my</font>Drink<font color=aqua>N</font>ation</b><br> A
                        round with friends <br> around the world...</h3>

                    <h3><font color=white>To Drinkers and Bartenders:</font></h3> <br><br>
                    <h4> My<font color=#ff4500>Drink</font>Nation <font color=white>is the only bar related social app
                        that connects you with your </font> friends at the bar
                        anywhere in the world. </h4>

                    <div>
                        <a href="/about" class="btn btn-primary" role="button"
                           style="padding-right: 10px">LEARN MORE</a>

                        <a href="/tour" class="btn btn-info" role="button"
                           style="padding-right: 10px">TAKE A TOUR</a>

                        <a href="{% url 'user:login' %}" data-toggle="modal" class="btn btn-success">LOGIN FOR DRINK</a>
                        {#                         <a href="/home/" class="btn btn-warning">ENTER</a>#}

                    </div>
                </div>


                <div class="col-lg-4 col-lg-offset-4 mt centered">


                    <hr>
                    <div class="text-center center-block">
                        <h4><font color=aqua>Follow...</font></h4>
                        <a href="https://www.facebook.com/mydrinknation" target="_blank"><i id="social"
                                                                                            class="fa fa-facebook-square fa-3x social-fb"></i></a>
                        <a href="https://twitter.com/home?status=Tweet%20%40mydrinknation" target="_blank"><i
                                id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
                        <a href='https://plus.google.com/share?url=www.mydrinknation.com/' target="_blank"><i
                                id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>

                    </div>
                    <hr>
                </div>
            </div>
        </div>


    </div>

    <!-- LAYER OVER THE SLIDER TO MAKE THE WHITE TEXT READABLE -->
    <div id="layer"></div>
    <!-- END LAYER -->
    <!-- START SLIDER -->
    <div id="slider" class="rev_slider">
        <ul>
            <li data-transition="slideleft" data-slotamount="1"
                data-thumb="assets/img/slider/Happy-group-of-friends-go-clubbing-000042783786_XXXLarge.jpg">
                <img src="{% static 'static_dirs/img/Buttons_BG/Happy-group-of-friends-go-clubbing-000042783786_XXXLarge.jpg' %}">
            </li>
            <li data-transition="slideleft" data-slotamount="1" data-thumb="assets/img/slider/2.jpg">
                <img src="{% static 'static_dirs/img/Buttons_BG/2.jpg' %}">
            </li>
            <li data-transition="slideleft" data-slotamount="1"
                data-thumb="assets/img/slider/assets/img/slider/glass-35477_640.png">
                <img src="{% static 'static_dirs/img/Buttons_BG/glass-35477_640.png' %}">
            </li>
            <li data-transition="slideleft" data-slotamount="1" data-thumb="{% static 'assets/img/slider/BG03.jpg' %}">
                <img src="{% static 'static_dirs/img/Buttons_BG/BG03.jpg' %}">
            </li>
        </ul>
    </div>
    <!-- END SLIDER -->
    <footer class="footer">
        <div class="container">
            <p class="inverse">Copyright &copy;2014-2015 My Drink Nation, a Tallawah<font color=#ff4500>Works</font>
                Media LLC Company. All Rights Reserved. </p>
        </div>
    </footer>
</section>
<!--navigator-->
{% block modal_login %}
    <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span></button>
                    <h3 class="modal-title omb_authTitle">MY DRINK NATION</h3>
                </div>
                <!--modal header-->
                <div class="modal-body">
                    <div class="omb_login">
                        <div class="row omb_row-sm-offset-3 omb_socialButtons">
                            <div class="col-xs-3 col-sm-2">
                                <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                                    <i class="fa fa-facebook visible-xs"></i>
                                    <span class="hidden-xs">Facebook</span>
                                </a>
                            </div>
                            <div class="col-xs-3 col-sm-2">
                                <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                                    <i class="fa fa-twitter visible-xs"></i>
                                    <span class="hidden-xs">Twitter</span>
                                </a>
                            </div>
                            <div class="col-xs-3 col-sm-2">
                                <a href="#" class="btn btn-lg btn-block omb_btn-google">
                                    <i class="fa fa-google-plus visible-xs"></i>
                                    <span class="hidden-xs">Google+</span>
                                </a>
                            </div>
                        </div>
                        <!--row holds facebook, twitter and google+ buttons-->

                        <div class="row omb_row-sm-offset-3 omb_loginOr">
                            <div class="col-xs-12 col-sm-6">
                                <hr class="omb_hrOr">
                                <span class="omb_spanOr">or</span>
                            </div>
                        </div>
                        <!--or divider-->
                        <div class="row omb_row-sm-offset-3">
                            <div class="col-xs-12 col-sm-6">
                                <form class="omb_loginForm" action="/login"
                                      autocomplete="off" method="post">{% csrf_token %}
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" name="{{ form.username }}"
                                               placeholder="email address">
                                    </div>
                                    <span class="help-block"></span>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" name="{{ form.password }}"
                                               placeholder="Password">
                                    </div>
                                    <span class="help-block">Password error</span>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                                </form>
                                <!--email form-->
                            </div>
                        </div>
                        <div class="row omb_row-sm-offset-3">
                            <div class="col-xs-12 col-sm-3">
                                <label class="checkbox">
                                    <input type="checkbox" value="remember-me">Remember Me
                                </label>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <p class="omb_forgotPwd">
                                    <a href="#">Forgot password?</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--login to trigger modal-->
                </div>
                <!--modal body-->
            </div>
            <!--modal dialog-->
        </div>
        <!--modal content-->
    </div><!--content to display within modal and "login_id" triggers modal from navbar-->
{% endblock %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'static_dirs/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'static_dirs/js/modernizr.custom.js' %}"></script>
<script src="{% static 'static_dirs/js/bootstrap.min.js' %}"></script>
<script src="{% static 'static_dirs/js/soon/plugins.js' %}"></script>
<script src="{% static 'static_dirs/js/soon/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'static_dirs/js/soon/custom.js' %}"></script>

</body>
<!-- END BODY -->

{% endblock %}