{% extends "base.html" %}
{% load staticfiles %}

{% block page %}
<nav class="navbar navbar-default" ng-init="navbarCollapsed=true">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'core:home' %}">MyDrinkNation</a>
    </div>

    <div class="collapse navbar-collapse" collapse="navbarCollapsed" ng-click="navbarCollapsed = !navbarCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'core:about' %}">About</a></li>
        <li><a href="{% url 'bars:bar-contact' %}">For Bars</a></li>
        {% if user.pk %}
        <li><a href="{% url 'user:register' %}">Register</a></li>
        <li><a href="{% url 'user:login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  {% block content %}{% endblock %}
</div>
{% endblock %}