<div class="row">
  <div class="col-xs-12">
    <h4>Add Card</h4>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-8">
          <label>Card Number</label>
          <input type="text" class="form-control" ng-model="newcard.number" required>
        </div>
        <div class="col-xs-4">
          <label>CVC</label>
          <input type="text" class="form-control" ng-model="newcard.cvc" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <label>Month</label>
          <div dropdown>
            <button type="button" class="btn btn-default btn-block" dropdown-toggle>{[{ months[newcard.month] }]}</button>
            <ul class="dropdown-menu select">
              <li ng-repeat="(key, month) in months"><a href ng-click="setMonth(key)">{[{ month }]}</a></li>
            </ul>
          </div>
          <!-- <input type="month" class="form-control" placeholder="MM" ng-model="newcard.month" required> -->
        </div>
        <div class="col-xs-6">
          <label>Year</label>
          <input type="number" min="2014" max="2999" step="1" class="form-control" placeholder="YYYY" ng-model="newcard.year" required>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="token" ng-model="newcard.token" required>
</div>
